<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-set mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-set mr-5" href="#" id="blades-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Blades
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blades-link">
                <a href="" class="dropdown-item">Kitchen</a>
                <a href="" class="dropdown-item">Outdoor</a>
                <a href="" class="dropdown-item">Maintenance</a>
                <a href="" class="dropdown-item">All Blades</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-set mr-5" href="#" id="kitchenware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchenware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kitchenware-link">
                <a href="" class="dropdown-item">Pans</a>
                <a href="" class="dropdown-item">Cutting Boards</a>
                <a href="" class="dropdown-item">All Kitchenware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-set" href="#" id="deals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="deals-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Last Chance</a>
                <a href="" class="dropdown-item">All Deals</a>
            </div>
        </li>
    </ul>
</div>